name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      PORT: 8000

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # ---- Docker Build & Push with Buildx caching ----
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./backend/Dockerfile
          push: true
          tags: nicolajb/financialqa-fullstack:latest
          platforms: linux/amd64
          cache-from: type=registry,ref=nicolajb/financialqa-fullstack:latest
          cache-to: type=registry,ref=nicolajb/financialqa-fullstack:latest,mode=max
